<div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="hero-unit hero-5 animated fadeIn">
  <div class="container hero-content">
        <h1>About Us</h1>
        <h2>The UKs Biggest Weekly Student Night</h2>
  </div>
</div>
<div class="container spacer">
  <h2>What we do</h2>
    <div class="row">
      <div class="col-md-6">
        <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) once" class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/vdPRsof3KvM"></iframe>
        </div>
      </div>
    <div class="col-md-6">
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) once" class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/732QfBL9CqU"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="light-grey-band my-3">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6 text-center lead">
        <h2 data-scroll="toggle(.fromTopIn, .fromTopOut) once">Our Philosophy</h2>
        <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) offset(0,-250px) once">
        <p>We are the biggest and best student night in the UK.</p>
        <p>It may sound cheesey, but the core idea behind the CRISIS brand is to have the most amount of fun with as many people as possible in a safe environment. It is a student night for all students, no matter what you're into. It's that one night of the week where you are guaranteed to see all your friends in one place and share in the same experience.</p>
        <p>We believe that the happy memories that you create whilst at University will stay with you for life (at least those memories that make it past the next morning anyway!). And so what we do, is to work hard to make sure everything we do helps to make those moments special.</p>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="container">
  <h2 data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="my-3">Reviews</h2>
   <div class="row">
    <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="col-md-3 text-center">
      <%= image_tag("sophie_scott.jpg", :alt => "Sophie Scott", :class => "rounded-circle") %>
        <blockquote class="blockquote">"Never leaving uni because I love crisis too much"</blockquote>
        <p class="red">Sophie Scott</p>
                        
    </div>
    
    <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="col-md-3 text-center">
      <%= image_tag("nick.jpg", :alt => "Nick Fotheringham", :class => "rounded-circle") %>
        <blockquote class="blockquote">"CRISIS is the best night in the UK"</blockquote>
        <p class="red">Nick Fotheringham</p>
                        
    </div>

    <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="col-md-3 text-center">
      <%= image_tag("pooja.jpg", :alt => "Pooja Daswani", :class => "rounded-circle") %>
        <blockquote class="blockquote">"The only place to be on a Wednesday night in Nottingham is CRISIS"</blockquote>
        <p class="red">Pooja Daswani</p>
                        
    </div>

    <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="col-md-3 text-center">
      <%= image_tag("poppy.jpg", :alt => "Poppy Van Der Vorm", :class => "rounded-circle") %>
        <blockquote class="blockquote">"Best place on earth xox"</blockquote>
        <p class="red">Poppy Van Der Vorm</p>
                        
    </div>
    
   </div>
   <p data-scroll="toggle(.fromBottomIn, .fromBottomOut) once">For more reviews and to add your own one, please check out our <i class="fa fa-facebook fa-fw"></i><a class="links red-links" href="https://www.facebook.com/ilovecrisis">Facebook Fanpage</a> or <i class="fa fa-google-plus fa-fw" aria-hidden="true"></i><a class="links red-links" href="https://plus.google.com/+crisisnottingham/posts"> Google Plus page</a></p>
  
</div>