<div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="">
<div class="hero-unit hero-jobs">
  <div class="container hero-content">
        <h1>Jobs</h1>
        <h2>Work for Carpe Noctum at CRISIS</h2>
  </div>
</div>
<div class="container">
  <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="hiring my-3">
    
    <h3 class="spacer hiring-status">Now Hiring:<br><span class="red">Social Media Manager</span></h3>

    <div class="row">
      
      <p class="text-left">Do you have an interest in marketing and social media? If so, then we might have the part time uni job for you!</p>

      <p class="text-left">
        Carpe Noctum are looking for someone to join our team of social media managers to help manage some of our numerous social media accounts for us and our clients. The work is varied and involves working during our events but also some time around your studies too.
        
      </p>
      <p class="text-left">
        The job involves creating content for Facebook, Instagram, SnapChat, Twitter and whatever else comes out along the way! The role requires you to be able to document live content and post prepared marketing materials. You would also be interacting with our wonderful and lively customers keeping them up to date with the latest info and responding to their questions.
      </p>
      <p class="text-left">
        You would need to be available about 8-15 hours per week and we pay £8 per hour for your time. During the first few weeks of term you may be asked to work additional hours if you are available. We will provide training in any areas you're not sure what you are doing, don't worry! 
      </p>
      <p class="text-left">
        This year we are working with an exciting new start up app called "<a href="http://www.pinga-app.com">Pinga-app</a>". They are also recruiting this same position in their company for the first term and, just so you know, they will see this application too and may approach you seperately to us.
      </p>

      <p class="text-left mb-2">
        So, if this sounds like your kind of thing, please fill in our google form and we will be in touch some time in the next 2 weeks. If you have any questions in the meantime please email <a href="mailto:andrew.smith@carpenoctum.co.uk">andrew.smith@carpenoctum.co.uk</a>
      </p>

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc841O5sNol72xsMDBXXXXOsmvbSmB9slqun0V-QuputfyHLA/viewform?embedded=true" width="100%" height="1800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>





    
    

    
    


  </div>
</div>
</div>
