<div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="">
<div class="hero-unit hero-jobs">
  <div class="container hero-content">
        <h1>Jobs</h1>
        <h2>Work for Carpe Noctum at CRISIS</h2>
  </div>
</div>
<div class="container">
  <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) onces" class="hiring my-3">
    
    <h3 class="spacer hiring-status">Now Hiring:<br>Social Media Manager</h3>

    <div class="row">
      <div class="col-md-6">
    <form action="https://docs.google.com/a/ipsofactouk.com/forms/d/e/1FAIpQLSc841O5sNol72xsMDBXXXXOsmvbSmB9slqun0V-QuputfyHLA/formResponse" target="_self" method="POST" id="mG61Hd">
    <div class="freebirdFormviewerViewFormCard">
      <div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground">
      </div>
      <div class="freebirdFormviewerViewFormContent ">
        <div class="freebirdFormviewerViewHeaderHeader">
          <div class="freebirdFormviewerViewHeaderTitleRow">
            <div class="freebirdFormviewerViewHeaderTitle" dir="auto" role="heading" aria-level="1">Social Media Manager Application</div>
          </div>
          <div class="freebirdFormviewerViewHeaderRequiredLegend" aria-hidden="true" dir="auto"><small>*Required</small></div>
        </div>

        <div class=freebirdFormviewerViewItemList role="list">
          <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem form-group" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-item-id="1688308080">
          <div class="freebirdFormviewerViewItemsItemItemHeader">
            <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
              <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.1688308080">Name <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span></div>
              <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1688308080" dir="auto"></div>
            </div>
          </div>
          <div class="freebirdFormviewerViewItemsTextItemWrapper">
            <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">
              <div class="quantumWizTextinputPaperinputMainContent exportContent">
                <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
                  <div class="quantumWizTextinputPaperinputInputArea"><input type="text" class="quantumWizTextinputPaperinputInput exportInput form-control" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name" aria-describedby="i.desc.1688308080 i.err.1688308080" name="entry.1027959123" value="" required dir="auto" data-initial-dir="auto" data-initial-value=""/>
                  
                  </div>
                <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                </div>
              </div>
                <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                  <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
                </div>
              </div>
            </div>
            <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div><div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1688308080" role="alert"></div>
            </div>
            <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem form-group" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-item-id="1741331635">
            <div class="freebirdFormviewerViewItemsItemItemHeader">
              <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.1741331635">Email <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span></div>
                <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1741331635" dir="auto"></div>
              </div>
            </div>
            <div class="freebirdFormviewerViewItemsTextItemWrapper">
              <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">
                <div class="quantumWizTextinputPaperinputMainContent exportContent"><div class="quantumWizTextinputPaperinputContentArea exportContentArea"><div class="quantumWizTextinputPaperinputInputArea"><input type="text" class="quantumWizTextinputPaperinputInput exportInput form-control" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Email" aria-describedby="i.desc.1741331635 i.err.1741331635" name="entry.1648860376" value="" required dir="auto" data-initial-dir="auto" data-initial-value=""/>
                
                </div>
                <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
              </div>
            </div>
            <div class="quantumWizTextinputPaperinputCounterErrorHolder">
              <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
            </div>
          </div>
        </div>
        <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div><div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1741331635" role="alert"></div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem form-group" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-item-id="535959413">
      <div class="freebirdFormviewerViewItemsItemItemHeader">
        <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
          <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.535959413">Mobile <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span></div>
          <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.535959413" dir="auto"></div>
        </div>
      </div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">
        <div class="quantumWizTextinputPaperinputMainContent exportContent">
        <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
        <div class="quantumWizTextinputPaperinputInputArea"><input type="text" class="quantumWizTextinputPaperinputInput exportInput form-control" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Mobile" aria-describedby="i.desc.535959413 i.err.535959413" name="entry.2036430656" value="" required dir="auto" data-initial-dir="auto" data-initial-value=""/>
        
        </div>
        <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div><div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
        </div>
      </div>
      <div class="quantumWizTextinputPaperinputCounterErrorHolder"><div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
      </div>
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div><div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.535959413" role="alert"></div>
      </div>

      <div role="listitem" class="freebirdFormviewerViewItemsItemItem form-group" jsname="ibnC6b" jscontroller="qDmeqc" jsaction="rcuQ6b:npT2md;sPvj8e:aj0Jcf;JIbuQc:aj0Jcf;" data-required="true" data-input="L9xHkb" data-item-id="257231870">
      <div class="freebirdFormviewerViewItemsItemItemHeader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.257231870">Date of Birth <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span></div><div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.257231870" dir="auto"></div>
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsDateDateInput">
      <div class="freebirdFormviewerViewItemsDateDateInputs" jsname="q7Lpsb" aria-label="Date of Birth" data-includeyear="true" data-supportsdate="true">
      <div class="quantumWizTextinputPaperinputEl freebirdThemedInput freebirdFormviewerViewItemsDateDateInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="jPalo"><div class="quantumWizTextinputPaperinputMainContent exportContent"><div class="quantumWizTextinputPaperinputContentArea exportContentArea"><div class="quantumWizTextinputPaperinputInputArea"><input type="date" class="quantumWizTextinputPaperinputInput exportInput form-control" jsname="YPqjbf" autocomplete="off" tabindex="0" value=""  data-initial-value=""/></div>
      <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div><div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
      </div>
      </div>
      <div class="quantumWizTextinputPaperinputCounterErrorHolder">
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div></div>
      </div><input type="hidden" name="entry.1299499523_year" jsname="L9xHkb_year">
      <input type="hidden" name="entry.1299499523_month" jsname="L9xHkb_month"><input type="hidden" name="entry.1299499523_day" jsname="L9xHkb_day"></div>
      </div>
      <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div><div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.257231870" role="alert"></div>
      </div>


    <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem form-group" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-item-id="957926995"><div class="freebirdFormviewerViewItemsItemItemHeader"><div class="freebirdFormviewerViewItemsItemItemTitleContainer"><div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.957926995"><label>Year of Study <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span></label></div><div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.957926995" dir="auto"></div></div></div><div class="freebirdFormviewerViewItemsTextItemWrapper"><div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice"><div class="quantumWizTextinputPaperinputMainContent exportContent"><div class="quantumWizTextinputPaperinputContentArea exportContentArea"><div class="quantumWizTextinputPaperinputInputArea"><input type="text" class="quantumWizTextinputPaperinputInput exportInput form-control" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Year of Study" aria-describedby="i.desc.957926995 i.err.957926995" name="entry.1718395463" value="" required dir="auto" data-initial-dir="auto" data-initial-value=""/></div><div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div><div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div></div></div><div class="quantumWizTextinputPaperinputCounterErrorHolder"><div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div></div></div></div><div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div><div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.957926995" role="alert"></div></div>


      
                <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem form-group" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-item-id="1122753611">
                <div class="freebirdFormviewerViewItemsItemItemHeader">
                <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.1122753611"><label>Why do you want to become a social media manager? <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span></label></div><div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1122753611" dir="auto"></div></div></div><div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice"><div class="quantumWizTextinputPapertextareaMainContent exportContent"><div class="quantumWizTextinputPapertextareaContentArea exportContentArea"><textarea class="quantumWizTextinputPapertextareaInput exportTextarea form-control" jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="Why do you want to become a social media manager?" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required name="entry.297156118" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea></div><div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div><div jsname="XmnwAc" class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div></div><div jsname="ty6ygf" class="quantumWizTextinputPapertextareaHint exportHint"></div></div><div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div><div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1122753611" role="alert"></div></div>

                <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem form-group" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-item-id="1653252729"><div class="freebirdFormviewerViewItemsItemItemHeader"><div class="freebirdFormviewerViewItemsItemItemTitleContainer"><div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.1653252729"><label>Can you think of a favourite marketing campaign you have seen (not just us, lol)? What was it and why did you like it?</label></div><div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1653252729" dir="auto"></div></div></div><div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice"><div class="quantumWizTextinputPapertextareaMainContent exportContent"><div class="quantumWizTextinputPapertextareaContentArea exportContentArea"><textarea class="quantumWizTextinputPapertextareaInput exportTextarea form-control" jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="Can you think of a favourite marketing campaign you have seen (not just us, lol)? What was it and why did you like it?" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" name="entry.1698411355" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea></div><div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div><div jsname="XmnwAc" class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div></div><div jsname="ty6ygf" class="quantumWizTextinputPapertextareaHint exportHint"></div></div><div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div><div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1653252729" role="alert"></div></div>
                <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem form-group" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-item-id="1098023684">
                <div class="freebirdFormviewerViewItemsItemItemHeader">
                <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.1098023684"><label>Have you done any social media work for a company before? If so, what did you do?</label></div>
                <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1098023684" dir="auto"></div>
                </div>
                </div>
                <div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice"><div class="quantumWizTextinputPapertextareaMainContent exportContent"><div class="quantumWizTextinputPapertextareaContentArea exportContentArea"><textarea class="quantumWizTextinputPapertextareaInput exportTextarea form-control" jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="Have you done any social media work for a company before? If so, what did you do?" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" name="entry.1149898075" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea></div><div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div><div jsname="XmnwAc" class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div></div><div jsname="ty6ygf" class="quantumWizTextinputPapertextareaHint exportHint"></div></div><div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div>
                <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1098023684" role="alert"></div>
                </div>
                <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem form-group" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-item-id="1558218736"><div class="freebirdFormviewerViewItemsItemItemHeader"><div class="freebirdFormviewerViewItemsItemItemTitleContainer"><div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.1558218736"><label>If you could make our social media better, what would you do?</label></div><div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1558218736" dir="auto"></div></div></div><div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice"><div class="quantumWizTextinputPapertextareaMainContent exportContent"><div class="quantumWizTextinputPapertextareaContentArea exportContentArea"><textarea class="quantumWizTextinputPapertextareaInput exportTextarea form-control" jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="If you could make our social media better, what would you do?" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" name="entry.306472135" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea></div><div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div><div jsname="XmnwAc" class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div></div><div jsname="ty6ygf" class="quantumWizTextinputPapertextareaHint exportHint"></div></div><div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div><div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1558218736" role="alert"></div></div></div><div class="freebirdFormviewerViewNavigationNavControls" jscontroller="lSvzH" jsaction="rcuQ6b:npT2md;JIbuQc:V3upec(GeGHKb),HiUbje(M2UYVd),NPBnCf(OCpkoe)" data-shuffle-seed="-968015122827344537"><div class="freebirdFormviewerViewNavigationButtonsAndProgress"><div class="freebirdFormviewerViewNavigationButtons">
                <div role="button" class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbuttonDark quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationSubmitButton btn btn-primary" jscontroller="VXdfxd" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;" jsshadow jsname="M2UYVd" aria-disabled="false" tabindex="0" >
                <div class="quantumWizButtonPaperbuttonRipple exportInk" jsname="ksKsZd"></div>
                <div class="quantumWizButtonPaperbuttonFocusOverlay exportOverlay"></div>
                <content class="quantumWizButtonPaperbuttonContent mt-3"><span class="quantumWizButtonPaperbuttonLabel exportLabel">Submit</span></content></div></div>
                </div>
                </div>
                <input type="hidden" name="fvv" value="1"><input type="hidden" name="draftResponse" value="[null,null,&quot;-968015122827344537&quot;]
    "><input type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx" value="-968015122827344537"></div></div>
    </form>



    </div>


    <div class="col-md-6">
    

    <p class="text-left">Do you have an interest in marketing and social media? If so, then we might have the part time uni job for you!</p>
    <p class="text-left">
      Carpe Noctum are looking for someone to join our team of social media managers to help manage some of our numerous social media accounts for us and our clients. The work is varied and involves working during our events but also some stuff around your studies too.
      
    </p>
    <p class="text-left">
      The job involves creating content for Facebook, Instagram, SnapChat, Twitter and whatever else comes out along the way! This is both live and prepared marketing materials. You would also be interacting with our wonderful and lively customers keeping them up to date with the latest info and responding to their questions.
    </p>
    <p class="text-left">
      You would need to be available about 8-15 hours per week and we pay £8 per hour for your time. 
    </p>
    </div>

    
    </div>



  </div>
</div>
</div>
<script type="text/javascript">var FB_PUBLIC_LOAD_DATA_ = [null,[null,[[1688308080,"Name",null,0,[[1027959123,null,1]
]
]
,[1741331635,"Email",null,0,[[1648860376,null,1]
]
]
,[535959413,"Mobile",null,0,[[2036430656,null,1]
]
]
,[257231870,"Date of Birth",null,9,[[1299499523,null,1,null,null,null,null,[0,1]
]
]
]
,[957926995,"Year of Study",null,0,[[1718395463,null,1]
]
]
,[1122753611,"Why do you want to become a social media manager?",null,1,[[297156118,null,1]
]
]
,[1653252729,"Can you think of a favourite marketing campaign you have seen (not just us, lol)? What was it and why did you like it?",null,1,[[1698411355,null,0]
]
]
,[1098023684,"Have you done any social media work for a company before? If so, what did you do?",null,1,[[1149898075,null,0]
]
]
,[1558218736,"If you could make our social media better, what would you do?",null,1,[[306472135,null,0]
]
]
]
,["",0,0,0,0]
,null,null,[0,0]
,null,null,"Social Media Manager Application",31,[null,0,null,null,0]
,null,null,null,null,[2]
,[[1,1,1,1,1]
,1]
,null,[]
]
,"/forms","Social Media Manager Application","ipsofactouk.com",["1IoO6U49KwXefj_npbVP8pZv64SF2VNdFW-NnnVSAOdc",3,["151272152"]
]
,[[1,"https://docs.google.com/[domain]spreadsheet/ccc?key\u003d[key]\u0026usp\u003d[usp]#gid\u003dform"]
,[2,"//www.google.com/fusiontables/data?docid\u003d[key]"]
,[3,"https://docs.google.com/[domain]spreadsheets/d/[key]?usp\u003d[usp]#gid\u003d[grid]"]
]
,"0","Ipso Facto",0,1,"ipsofactouk.com","Ipso Facto",1,"e/1FAIpQLSc841O5sNol72xsMDBXXXXOsmvbSmB9slqun0V-QuputfyHLA",1]
;</script><script id="base-js" src="https://www.gstatic.com/_/freebird/_/js/k=freebird.v.en_GB.6CXBRaz2Mp0.O/m=viewer_base/rt=j/d=1/rs=AMjVe6ihE_aI7_Xf_SpF_HcZmwhKcpKbpQ"></script>