<div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="">
<div class="hero-unit hero-jobs">
  <div class="container hero-content">
        <h1>Jobs</h1>
        <h2>Work for Carpe Noctum at CRISIS</h2>
  </div>
</div>
<div class="container">
  <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) onces" class="hiring my-3">
    <i class="fa fa-frown-o fa-5x sad" aria-hidden="true"></i><br>
    <h3 class="spacer hiring-status">We are not currently hiring.<br>Check back here soon!</h3>
  </div>
</div>
</div>
