<div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="">
<div class="hero-unit hero-sevenlegged">
  <div class="container hero-content">
        <img src="fillmurray.com/400/400">
        <h1>7 Legged</h1>
        <h2>Monday 16th October</h2>
  </div>
</div>
<div class="container">
  <div class="hiring my-3">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <%= video_tag "7_Legged_Promo_02.mp4", :width=> "100%", :controls => true, :autoplay => true, :loop => true %>
      </div>
    </div>
      <p class="lead">
        
     CRISIS have teamed up with OCEAN to continue the legendary 7 Legged Bar Crawl on Monday 16th October.<br> We've formed a student committee to help organise and build upon the success of previous years.<br>This year we will be raising money for the Jim Pullin Foundation
 
      </p>      
    <hr class="red">
      <h3>Event Info</h3>

      <div class="row">
      <div class="col-md-6 offset-md-3">
      <table class="table table-striped">
       
        <tbody>
          <tr>
            <th scope="row"><span class="red">Tickets Released:</span></th>
            <td>Monday 2nd October - 7pm <span class="small">(right here!)</span></td>
          
          </tr>
          <tr>
            <th scope="row"><span class="red">Start Time:</span></th>
            <td>8pm - Ticket type will say which starting bar</td>
        
          </tr>
          <tr>
            <th scope="row"><span class="red">Club Entry Deadline:</span></th>
            <td>11:45pm</td>
           
          </tr>
          <tr>
            <th scope="row"><span class="red">Number of bars:</span></th>
            <td>4</td>
           
          </tr>
          <tr>
            <th scope="row"><span class="red">Team sizes:</span></th>
            <td>4, 5 or 6</td>
           
          </tr>
          <tr>
            <th scope="row"><span class="red">Fancy dress?</span></th>
            <td>Hell yes!</td>
          
          </tr>
        </tbody>
      </table>
      </div>
      </div>
      <p class="text-center">All participants undertake this event at their own risk.<br>Teams will be asked to sign a waiver at their opening bar</p>
      <div class="row">

        <div class="col-md-6">
          <h3>CRISIS</h3>
          <hr class="red-small">
          <p>Ticketing embedded page will go here</p>
        </div>
        <div class="col-md-6">
          <h3>OCEAN</h3>
          <hr class="red-small">
          <p>Ticketing embedded page will go here</p>
        </div>
      </div>

     
      
    </div>

</div>


