<div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="">
<div class="hero-unit hero-sevenlegged">
  <div class="container hero-content">
        <h1>7 Legged</h1>
        <h2>Join the Committee</h2>
  </div>
</div>
<div class="container">
  <div class="hiring my-3">
    
    

    <div class="row">
   
      <p class="lead">
        
     CRISIS have teamed up with OCEAN to continue the legendary 7 Legged Bar Crawl on Monday 16th October.<br> We are looking for people to join the committee and help organise this fantastic event. If that sounds like something you might be interested in, please fill in our application form below!

        
      </p>

      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdEifVEEQ2cDeVN-EdFQmFFxLewUbvDb3g4m0SVlfjL_RVC_Q/viewform?embedded=true" width="100%" height="2200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      
      

     

      



    </div>

  
</div>
</div>
</div>
