<div class="container my-5">
<h1>Terms and Conditions</h1>

<p>By purchasing a Ticket for a CRISIS or entering via our guestlist or paying admission on the door you are agreeing to the following terms and conditions and our <%= link_to 'privacy policy', privacy_path %>.</p>

<p>Use of this website is also subject our <%= link_to 'privacy policy', privacy_path %>.</p>

<p>These Terms are effective as of 4 April 2017.</p>

<h5>Definitions</h5>

  <ul>
    <li>'Customer' means an individual or individuals who purchase Tickets for an 'Event' on the CRISIS website through our third party 'Ticketing provider', purchases a paper Ticket through an 'Event organiser' representative, or pays their admission at the club on arrival.</li>

    <li>A 'Ticket' is either a piece of paper or electronic equivalent that gives the holder a right to enter the 'Event' subject to the terms of the 'Venue' and 'Event Organisers'. The electonic equivalent must have a barcode of sufficient quality to be considered valid.</li>

    <li>A 'Ticket Expiry Time' is a period of time for which the Ticket is valid. This usually takes the form of being valid before a specified time or may be valid only after a certain time.</li>

    <li>'Ticketing Provider' is the company that provide our electronic Ticketing service. This is currently "Fixr" who are owned and operated VIPR Digital Limited. VIPR Digital Limited is a private limited company, registered in England (company number: 8184813, registered office: Fourth Floor, 9 Holyrood Street, London SE1 2EL). Our VAT registration number is 161892490.</li>

    <li>The "Venue" is Rock-City Nightclub, 8 Talbot Street, Nottingham, NG1 5GG. Rock-City is owned and operated by DHP Family Ltd. DHP Family Ltd are is a private limited company registered in England and Wales with company registration number 00259388. Their registered office is 2, Lace Market Square, Nottingham, NG1 1PB</li>

    <li>"CRISIS" is a nightclub brand owned by Carpe Noctum Ltd. Carpe Noctum Limited are a company registered in England and Wales. Company registration number: 06020429. Registered office: 3, The Banks, Bingham, NG13 8BL.VAT Registration: 984 7837 49. The office address is Unit T11, Lenton Business Centre, Nottingham, NG7 2BY</li>

    <li>"Event Organisers" or "Carpe Noctum" are the Organisers of the Event and promoters.</li>

    <li>'The University of Nottingham' is a public research university based in Nottingham, Nottinghamshire, England, United Kingdom.</li>

    <li>'Student at another University' is a student studying at a University other than 'The University of Nottingham'.</li>

    <li>'Non-student' is a member of the public who is not currently studying at a University institution.</li>

    <li>The "Event" is a club night branded "CRISIS". It is usually held on Wednesday nights during 'The University of Nottingham's' academic term time.</li>

    <li>A "Sports Cardholder" has an ID card that is the equivalent of a 'Ticket'. Customers who are a "Sports Cardholder" are subject to the same terms and conditions as a 'customer' purchasing a 'ticket' plus any additional terms printed on the reverse of the card.</li>


  </ul>

<h5>TICKETS</h5>
  <ul>
    <li>The purchase of a 'Ticket' in either electronic, paper or paying on the door format consititutes acceptance of the Terms and Conditions here.</li>
    <li>The purchase of a 'Ticket' means you agree to the <a href="http://www.rock-city.co.uk/venue-info-hire/26-customer-policy">'Venue' terms and conditions</a>.</li>
    <li>The purchase of a 'Ticket' means you agree to the <a href="https://fixr-app.com/customer-terms-and-conditions">'Ticketing provider's' terms and conditions</a>.</li>
    <li>A 'Ticket' may have restrictions on the time it is valid known as 'Ticket Expiry Time'. Failure to arrive by the time stipulated constitutes a breach of the 'Event Organisers' Terms, which shall entitle the 'Event Organiser' to refuse you entry. No refunds are issued in such circumstances.</li>
    <li>A 'Ticket' must not be resold by means other than through the 'Ticketing provider' application. The 'Venue' and 'Event Organisers' reserve the right to refuse Tickets that have been resold by any other means. This includes but is in no way limited to reselling groups on social networks such as "Buy/Sell Tickets" on Facebook.  No refunds are issued in such circumstances.</li>
    <li>A 'Ticket' in electronic format either displayed on a phone screen or printed out must have a barcode of sufficient quality to be scanned. Failure to provide a quality barcode may result in your admission being refused. We strongly recommend using the 'Ticketing provider' app or pdf versions of Tickets. Screenshots have a habit of failing and may result in your admission being refused.</li>
    <li>The 'Event Organisers' reserve the right to reasonably alter any previously stated 'Ticket Expiry Times' subject to providing at least 4 hours notice by email.</li>
    <li> Entrance to the 'Event' will only be authorised upon presentation of a valid 'Ticket' or paid door admission. Removing any part of, altering or defacing the 'Ticket' may invalidate your 'Ticket'.</li>
    

  </ul>

<h5>ADMISSIONS POLICY</h5> 

  <ul>
    <li>Admission to the 'Event' is strictly for over 18s only. ID will be required to prove you are over 18 years old. Failure to provide ID may result in a refusal of your admission. No refunds will be issued in such circumstances.</li>

    <li>The 'Event' is primarily a student night for students studying full or part time at 'The University of Nottingham'. You may be asked to provide student ID to prove you are a student at that institution. Failure to provide student ID may result in a refusal of your admission. No refunds will be issued in such circumstances.</li>

    <li>'Students at another University' such as Nottingham Trent University or any other University are welcome to attend the 'event' but must be aware that they are permitted only at the discretion of the 'Venue' and 'Event Organisers'. It is recommended you stick to smaller mixed gender groups. If you have purchased a 'ticket' and are refused entry for being a 'Student at another University' then you may contact us for a refund.</li>

    <li>We allow 'non-student' guests at the descretion of the 'Event Organisers'. This is usually done at a ratio of one student to one non-student, but this is entirely discretionary and the 'Event Organisers' reserve the right to refuse admission to any non-student. No refunds will be issued such circumstances.</li>

    <li>The 'Venue' and 'Event Organisers' reserve the right to refuse admission to any 'customer' that appears too drunk or they believe may be under the unfluence of illegal drugs. No refunds will be issued such circumstances.</li>

    <li>In rare circumstances we may ask you to wait for your admission into the Venue even with a valid Ticket to ensure the 'Venue's' capacity regulations are adhered to. 'Customers' who have a 'Ticket' that subsequently exceeds its 'Ticket Expiry Time' will still be admitted to the Venue when space is available. Those 'customers' waiting longer than 1 hour  or who are refused entry due to insufficient capacity will be entitled to a refund.</li>

    <li>You may be subject to a search prior to entry to the 'Venue'. Entry will not be permitted to any person who is carrying in his or her possession prohibited items, which shall include but not be limited to, food, drink, chemicals of any kind, bottles, cans, laser pens or weapons of any kind.  Such prohibited items shall be confiscated by the 'Venue' and kept by the 'Venue' during the 'Event' for return to the person after the 'Event'.  The 'Venue' shall not be responsible for any loss of or damage to such prohibited items during the 'Event'.</li>

    <li>The 'Venue' may eject any person who fails to comply with their Terms and Conditions or who in the opinion of The 'Venue' or 'Event organiser' represents a security risk, nuisance or annoyance to the staging of the Event. No refunds will be issued in such circumstances</li>

    <li>The 'Venue' or 'Event Organisers' may refuse admission to the 'Venue ' to any person in its absolute discretion, including for health and safety, licensing reasons or where a Ticket is void.</li>
  </ul>

  <h5>CANCELATIONS AND POSTPONEMENT</h5>
  <ul>
    <li>If the 'Event' is cancelled or postponed prior to the start of the Event, You shall be entitled to a refund in the sum of the face value of the Ticket. The booking fee is non-refundable.</li>

    <li> If the 'Event' is postponed, the Ticket will be valid for the rearranged date. It is the 'Customer's' responsibility to check the date and time of the rearranged Event.</li>

    <li>All advertised 'Events' may be subject to change where reasonably necessary, without prior warning. If there is a material change to the programme of the Event (which in the reasonable opinion of the 'Event Organisers' makes the 'Event' materially different to what You could reasonably expect), then You may be entitled to claim a refund from the 'Event Organisers'  Refunds are not available for changes to supporting acts for an Event.</li>

    <li>These Terms and Conditions do not affect your statutory cancellation rights as a consumer. For further information about your statutory rights contact Citizens Advice, Consumer Direct or the Department for Business, Innovation and Skills.</li>
  </ul>

  <h5>GENERAL</h5>
  <ul>
    <li>If the 'Event Organisers' or the 'Venue' fail to enforce any of its rights and obligations under these Terms and Conditions it shall not mean that it has waived its rights to do so.</li>

    <li>Each of the parties agree that it has not entered not entered into these Terms and Conditions in reliance on, and shall have no remedy in respect of, any statement, representation, covenant, warranty, undertaking or indemnity by any person other than as expressly set out in these Terms and Conditions.</li>

    <li>The 'Event Organisers' make use of photographers and videographers to document the night and use in publicity materials. Upon entering the 'venue' your consent to be photographed and videoed is assumed. If you do not wish to be filmed or photographed please tell the member of staff with the camera to refrain and they will comply. If there is footage/photographs published of you online in the background, by mistake, or if you have changed your mind about consent please email info@carpenoctum.co.uk for their removal.</li>

    <li> These Terms and Conditions are governed by English law and the parties submit to the exclusive jurisdiction of the English courts.</li>

    <li>The 'Event Organisers' will not be liable for any loss, injury or damage to any person or property howsoever caused, other than caused as a result of negligence of the 'Event organiser'. Nothing in these Terms and Conditions seeks to exclude or limit the 'Event Organisers' or the liability for death or personal injury caused by its negligence, fraud or other type of liability which cannot by law be excluded or limited. </li>

    <li>The 'Event' will generally finish at 3am. In some circumstances we may operate for longer as advertised on the Event. The 'Venue' and 'Event Organisers' reserve the right to close certain rooms within the 'Venue' in order to maintain atmosphere and enjoyment for the 'customers'.</li>

    <li>The 'Venue' and 'Event Organisers' reserve the right to close the 'Event' earlier than the stated finish time where overall 'customers' in the building is less than 300 persons. No refunds are available under such circumstances</li>

  </ul>

 
</div>