<div class="light-grey-band my-3">
  <div class="container">
    <div class="row icon-band">
     <div class="col-md-3 text-block">
        <%= image_tag("photos-icon.svg", :alt => "Photos Icon", :class => "icons") %>
       <h4 class="icon-titles">Photos</h4>
       <p>A taster of what its like on Wednesdays at CRISIS in Nottingham</p>
     </div>

     <div class="col-md-3 text-block">
        <%= image_tag("ticket-icon.svg", :alt => "Ticket Icon", :class => "icons") %>
       <h4 class="icon-titles">Tickets</h4>
       <p>Pick up tickets to Nottingham's favourite student night</p>
     </div>
     <div class="col-md-3 text-block">
        <%= image_tag("group-social.svg", :alt => "Social Icon", :class => "icons") %>
       <h4 class="icon-titles">Socials</h4>
       <p>Are you part of a team, club or society organisation? We can help sort out your social to CRISIS.</p>
     </div>
     <div class="col-md-3 text-block">
        <%= image_tag("events-calendar-icon.svg", :alt => "Events Calendar Icon", :class => "icons") %>
       <h4 class="icon-titles">Events</h4>
       <p>Find out about CRISIS events coming up soon</p>
     </div>
    </div>    
  </div>
</div>