/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=Cantarell');
 @import url('https://fonts.googleapis.com/css?family=Fjalla+One');
 $enable-flex: true;
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


.hidden { display: none; }


 body {
   background-color: #272822;
   color: #ffffff;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;

 }

 h1,h2,h3,h4,h5,h6 {
   font-family: 'Fjalla One', sans-serif;
   text-transform: uppercase;
 }

 a {
   font-family: 'Fjalla One', sans-serif;
   text-transform: uppercase;
 }

 img.navbar-brand {
   height: 40px;
 }

 nav.navbar {
   background-color: #3D3D3A;
   
 }

 a.nav-link {
   color: #ffffff !important;
 }

 nav {

     -moz-animation-name: dropHeader;
     -moz-animation-iteration-count: 1;
     -moz-animation-timing-function: ease-out;
     -moz-animation-duration: 0.6s;

     -webkit-animation-name: dropHeader;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-timing-function: ease-out;
     -webkit-animation-duration: 0.6s;

     animation-name: dropHeader;
     animation-iteration-count: 1;
     animation-timing-function: ease-out;
     animation-duration: 0.6s;
 }
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 nav ul li{
     display: inline-block;
     margin-right: 20px
 }

 .alert.alert-notice {
  background-color:#3D3D3A;
}
button.close {
  color: #fff;
}


 @-moz-keyframes dropHeader {
     0% {
         -moz-transform: translateY(-80px);
     }
     100% {
         -moz-transform: translateY(0);
     }
 }
 @-webkit-keyframes dropHeader {
     0% {
         -webkit-transform: translateY(-80px);
     }
     100% {
         -webkit-transform: translateY(0);
     }
 }
 @keyframes dropHeader {
     0% {
         transform: translateY(-80px);
     }
     100% {
         transform: translateY(0);
     }
 }



 /* Underline Reveal */
 .hvr-underline-reveal {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px transparent;
   position: relative;
   overflow: hidden;
 }
 .hvr-underline-reveal:before {
   content: "";
   position: absolute;
   z-index: -1;
   left: 0;
   right: 0;
   bottom: 0;
   background: #e30613;
   height: 4px;
   -webkit-transform: translateY(4px);
   transform: translateY(4px);
   -webkit-transition-property: transform;
   transition-property: transform;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
 }
 .hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
   -webkit-transform: translateY(0);
   transform: translateY(0);
 }

 .carousel-item>img{
   width:100%;
   height: 100%;
 }
 .card-img-top{
   width: 100%;
 }


 .social-icons {
   text-align: center;
 }
 i.fa {
   background-color: transparent;
   color: #ffffff;
 }
 .fa.fa-circle {
   color: #e30613;
 }
 .card {
   background-color: #3D3D3A;
   margin-top: 1em;
 }

 h4.card-title {
   color: #ffffff;
   background-color:#e30613;
   padding:0.3em;
 }
 img.img-responsive.card-img-top {
   width: 100%;
 }

 .text-block {
   text-align: center;
   padding-top: 1em;
 }

 .light-grey-band {
 
   background-color: #3D3D3A;
   padding-top: 1rem;
   padding-bottom: 1rem;
 }
 .light-grey-band.no-margin{
   margin-top: 0;
 }
 a.remove-deco {
   text-decoration: none;
   color: #ffffff;
   font-family: 'Open Sans', sans-serif;
   text-transform: lowercase;
   font-weight: 700;
 }

 h2 {
   color: #e30613;
 }

 h3 {
   font-size: 1.5rem;
 }

 h4 {
   color: #e30613;
 }

 h6 {
   color: #28394b;
   background-color: #ffffff;
 }

 h2.headline {
   background-color:#e30613;
   color: #ffffff;
   display: inline-block;
   padding: 0.2em;
   line-height: 1.25;
 }


 .btn-primary {
   border-radius: 0;
   background-color: #e30613;
   border: none;
 }

 .btn-primary:hover {
   background-color: #28394b;
 }

 .btn-secondary {
   border-radius: 0;
   background-color: #ffffff;
   border: none;
 }

 .btn-secondary:hover {
   background-color: #28394b;
   color: #ffffff;
 }

 .icons {
   max-height: 120px;
   margin-bottom: 1em;
 }



 

 .post {
   border-top: 1px dotted #ffffff;
   padding-top: 1rem;
   padding-bottom: 1rem;
 }



 .post-content {
   background-color: #3D3D3A;

 }

 .row.is-flex {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 }

 .row.is-flex > [class*='col-'] {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
 }

 h6.card-event-date {
   display: inline-block;
   color: #ffffff;
   background-color: transparent;
   padding-bottom: 0.2em;
   border-bottom: 2px solid #e30613;

 }

 h2.news-title {
   padding-top: 0.5em;
 }

 hr.style-1 {
   border: dotted 1px rgba(0,0,0,0.8);
   width: 100%;
   margin-top: 0.2rem;
   margin-bottom: 0.2rem;
 }

 p.doors-open {
   margin-bottom: 0.2rem;
 }


 .event-message {
   padding: 0.5rem 0.5rem 0.5rem 0.5rem;
   background-color:#3D3D3A;
   border: 1px solid #e30613;
   text-align: center;
   max-width: 768px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1em;
   
 }

 .ticket-advice {
   text-align: center;
   max-width: 768px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1em;
   color: #272822;
 }

 button{
   text-transform: uppercase;
   font-family: 'Fjalla One', sans-serif;
 }
 button.btn.btn-secondary.cant-find:hover {
   
   color: #ffffff;
 }

 p.lead.intro {
   margin-bottom: 0;
   font-size: 1rem;
 }
 .row.terms {
   margin: 1rem 0 1rem 0;
 }

 h5.updated {
   font-size: 14px;
  
   margin: 0.3rem 0 0.3rem 0;
   display: inline-block;
 }
 .event-btns{
   margin-top: 0.5rem;
 }
 .grey-text {
   color: #272822;
 }
 .red {
   color:#e30613;
 }
 strong {
   font-weight: 700;
 }


 .contact-section {
   margin-top: 1rem;
 }
 .faqs {
   margin-top: 1.5rem;
 }

 .footer-brand {
   display: block;
 }

 .spacer {
   margin-top: 1em;
 }
 a {
   color:#e30613;
 }

 a.links {
   color: #ffffff;
   font-family: 'Open Sans';
   font-weight: 700;
   text-transform: lowercase;
 }

 a.links.red-links{
   color:#e30613;
 }
// Ticket show page 
.cover-img {
  background:url('../images/event_show.jpg');
   
   background-size:cover;
   background-color: #EEEEEE;
   height:300px;
   color: fff;
  
 }
 h2.white {
  color: #fff;
 }


.square-img {
  max-width: 150px;
}
iframe.fixr {
  width:100%;
  min-height: 700px;
}

// Ticket show page end

// Homepage

.any-class {
height: 100%;
}

// homepage end


 #map {
   width: 100%;
   height: 300px;
   background-color: grey;
 }

 img.video {
   display: inline-block;
 }

 i {
    
     background-color: #e30613;
   
   }
 .fa-stack.fa-lg {
   margin-right: 0.5em;
 }
 i.sad {
   background-color:transparent;
 }
 .hiring {
   text-align: center;
 }
 h3.hiring-status {
 line-height: 1.3;
 }

 @media (min-width:34em) {
     .card-deck > .card
     {
         width: 29%;
         flex-wrap: wrap;
         flex: initial; 
     }
 }

 // Box shadow helper
 @mixin BoxShadowHelper($level: 1){
   @if $level == 1 {
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
   }
   @if $level == 2 {
     box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
   }
 }
 a {transition: .25s all;}
 .card {
   overflow: hidden;
   @include BoxShadowHelper(1);
   transition: .25s box-shadow;
   &:focus,
   &:hover {@include BoxShadowHelper(2);}
 }
 
//  @media (min-width: 576px) {
 
//  .card-deck .card:not(:first-child) {
//      margin-left: 0px;
//  }
//  }


// @media (min-width:768px) {
//      .card {
//        max-width: 203px;
//      }
//  }

// @media (min-width: 1200px) {
//   .card {
//     max-width: 253px;
//   }
// }







 @media (max-width:1200px) {
   

   p.lead {
     font-size: 16px;
   }

   
 }



 @media (max-width: 992px) {
     

   p.lead {
     font-size: 14px;
   }

 }



 @media (max-width: 768px) {

 p.lead {
     font-size: 10px;
   }
 p.lead.intro {
   font-size: 1rem;
 }

 .post-content{
  width:100%;
  margin-top:15px;
  margin-right:15px;
  margin-left:15px;
  padding: 1rem;
 }

 h2.news-title {
   padding-top: 0;
 }

 }




 .card-header {
   background-color: #e30613;
   border-radius:0;
 }
 h5.mb-0 a {
   color: #ffffff;
 }

 h5.mb-0 a:hover {
   text-decoration: none;
 }



 .text-center {
   text-align: center;
 }

 div.col-md-12.text-block {
   padding-top: 0px;
 }


 // HERO

 .hero-unit {
    background:url('../images/happy-customers.jpg');    
    background-size:cover;
    background-color: #EEEEEE;
    height:300px;
   
  }
 .hero-unit h1 {
     color: #FFFFFF;
     font-size: 60px;
     letter-spacing: -1px;
     line-height: 1;
     margin-bottom: 0;
 }
 .hero-unit h2 {
     font-size: 25px;
     color: #FFFFFF;
     margin-top: 0.5rem;
    
 }
 .fill{width:100%;height:350px;background-position:center;background-size:cover;
 }

 .hero-content {

   position:relative;
     top:50%;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);

 }
 .hero-content h1 {
   background-color:#e30613;
   padding: 0.3rem;
   display: inline-block;
 }

 .hero-2 {
   background:url('../images/crisis-1.jpg');
 }
 .hero-3 {
   background:url('../images/crisis-2.jpg');
 }
 .hero-4 {
  background:url('../images/crisis-3.jpg');
 }
 .hero-5 {
  background:url('../images/crisis-4.jpg');
 }
 .hero-6 {
  background:url('../images/crisis-5.jpg');
 }
 .hero-jobs {
   background:url('../images/crisis-6.jpg');
 }

 // FOOTER

 .footer-distributed{
   background-color: #3D3D3A;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
   box-sizing: border-box;
   width: 100%;
   text-align: left;
   font: bold 16px sans-serif;

   padding: 55px 50px;
   margin-top: 80px;
 }

 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
   display: inline-block;
   vertical-align: top;
 }

 /* Footer left */

 .footer-distributed .footer-left{
   width: 40%;
 }

 /* The company logo */

 .footer-distributed h3{
   color:  #ffffff;
   // font: normal 36px 'Cookie', cursive;
   margin: 0;
 }
 .footer-distributed h3 span{
   color:  #5383d3;
 }
 /* Footer links */
 .footer-distributed .footer-links{
   color:  #ffffff;
   margin: 20px 0 12px;
   padding: 0;
 }
 .footer-distributed .footer-links a{
   display:inline-block;
   line-height: 1.8;
   text-decoration: none;
   color:  inherit;
 }
 .footer-distributed .footer-company-name{
   color:  #8f9296;
   font-size: 14px;
   font-weight: normal;
   margin: 0;
 }

 /* Footer Center */
 .footer-distributed .footer-center{
   width: 35%;
 }

 .footer-distributed .footer-center i{
   background-color:  #e30613;
   color: #ffffff;
   font-size: 25px;
   width: 38px;
   height: 38px;
   border-radius: 50%;
   text-align: center;
   line-height: 42px;
   margin: 10px 15px;
   vertical-align: middle;
 }

 .footer-distributed .footer-center i.fa-envelope{
   font-size: 17px;
   line-height: 38px;
 }

 .footer-distributed .footer-center p{
   display: inline-block;
   color: #ffffff;
   vertical-align: middle;
   margin:0;
 }

 .footer-distributed .footer-center p span{
   display:block;
   font-weight: normal;
   font-size:14px;
   line-height:2;
 }

 .footer-distributed .footer-center p a{
   color:  #ffffff;
   text-decoration: none;;
 }

 /* Footer Right */
 .footer-distributed .footer-right{
   width: 20%;
 }
 .footer-distributed .footer-company-about{
   line-height: 20px;
   color:  #92999f;
   font-size: 13px;
   font-weight: normal;
   margin: 0;
 }

 .footer-distributed .footer-company-about span{
   display: block;
   color:  #ffffff;
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 20px;
 }

 .footer-distributed .footer-icons{
   margin-top: 25px;
 }

 .footer-distributed .footer-icons a{
   display: inline-block;
   width: 35px;
   height: 35px;
   cursor: pointer;
   background-color:  #e30613;
   border-radius: 2px;

   font-size: 20px;
   color: #ffffff;
   text-align: center;
   line-height: 35px;

   margin-right: 3px;
   margin-bottom: 5px;
 }

 /* If you don't want the footer to be responsive, remove these media queries */

 @media (max-width: 880px) {

   .footer-distributed{
     font: bold 14px sans-serif;
   }

   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
     display: block;
     width: 100%;
     margin-bottom: 40px;
     text-align: center;
   }

   .footer-distributed .footer-center i{
     margin-left: 0;
   }

 }


 //  FOOTER END



 abbr[title="required"] {
   display: none;
 }